<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pr-BR">
<head>
<meta charset="UTF-8" ></meta>
<title>Insert title here</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<!-- HEADER -->

	<!-- barra de navegação -->
	<nav class="navbar navbar-inverse navbar-static-stop"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<!-- Incluso barra de collapse para dispositivos móveis -->
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<a class="navbar-brand" href="#"> Home - spring boot</a>
			
				<ul class="nav navbar-nav">
					<li><a href="/">Início</a></li>
					<li><a href="/instituicoes/index">Instituíções</a></li>
				</ul>
			</div>
	</nav>

	<!-- FOOTER -->
	<div th:fragment="footer" class="footer navbar-fixed-bottom"
		style="text-align: center;">&copy;2019 Jonny Christian</div>
</body>
</html>