<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" /> 
<title>Insert title here</title>
</head>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"></link>
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
<body>
	
	<div th:replace="fragmentos/fragmentos :: header"></div>
	 <span th:text="'mensagem do servidor:' + ${mensagem}"></span>
	 <input type="text" class="form-control" />
	 <button type="button" class="btn btn-danger">aaa</button>
	 <div th:replace="fragmentos/fragmentos :: footer"></div>
</body>
</html>